.hotel-owner-dashboard {
	background-color: #f9c542;
	color: #ffffff;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hotel-owner-details {
	margin-top: 20px;
}

.hotel-owner-details p {
	margin-bottom: 10px;
}
